<%= form_with model: cloth do |f| %>
  <div class="form-group name">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group name">
    <%= f.submit 'Submit', class: 'btn btn-link px-0 pr-2' %>
    <%= button_to 'Cancel', cloth_path(id: cloth.id), class: 'btn btn-link mx-0 mr-2' %>
  </div>
<% end %>
